.container {
  width: 55%;
  margin: 30px auto;
  border: 3px solid var(--teal-100);
  position: relative;
  z-index: 999;
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}
