.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
  position: relative;
  z-index: 9999;
  width: 55%;
  margin: 30px auto;
  height: 45px;
}
@media (max-width: 900px) {
  .skeleton {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .skeleton {
    width: 95%;
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
